




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: hwb(0 96% 0%);
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: hwb(0 7% 93%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    /* background-color: #ddd;
    color: #e2dddd; */
}
.search-container {
    float: right;
    padding: 14px 16px;
}
.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border-radius: 15%;
}

.search-container button:hover {
    background: #ccc;
}
.main-content {
    padding: 20px;
}
